body {
    font-family: 'VT323', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    display: flex;

}

h1 {
    font-size: 1.1rem;
    text-align: left;
    display: flex;
    align-self: center;
}

p {
    font-size: 1rem;
    color: rgb(26, 26, 26);
}

button {
    padding: 15px 25px 15px 25px;
    font-size: 2rem;
    background-color: white;
    font-family: 'VT323', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.wide {
    letter-spacing: .5rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.calculator {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
    border: 3px solid black;
    width: 290px;
}
#menu {
    display: flex;
    flex-wrap: wrap;
    /* width: 13rem; */
    gap: .1rem;
    justify-content: center;
}

#title {
    text-align: center;
}

#display {
    margin: 1rem;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 5px 50px 5px 50px;
    width: 170px;
    border: 2px solid black;
    font-size: 3rem;
    background-color: black;
    color: white;
}

